maxminddb==2.2.0
numpy
watchdog==2.1.6
redis==3.5.3
urllib3==1.26.7
pandas
tzlocal==2.1
cabby==0.1.23
stix2==3.0.1
certifi==2019.11.28
#tensorflow
colorama==0.4.4
Keras
validators==0.18.2
ipwhois==1.2.0
matplotlib
recommonmark==0.7.1
scikit_learn==0.24.2
slackclient==2.9.3
psutil==5.8.0
yara_python==4.1.3
six==1.15.0
pytest==6.2.5
pytest-xdist==2.4.0
slackclient==2.9.3
scipy==1.7.3
sklearn==0.0
GitPython==3.1.14
setuptools
whois
wheel
