[submodule "p2p4slips"]
	path = p2p4slips
	url = https://github.com/stratosphereips/p2p4slips
[submodule "iris"]
	path = iris
	url = https://github.com/stratosphereips/iris
[submodule "fides"]
	path = fides
	url = https://github.com/stratosphereips/fides
[submodule "feel_project"]
	path = feel_project
	url = https://github.com/stratosphereips/feel_project
