# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
2019*/
2020*/
.DS_Store
# Do not store in git the files from the IoCs that we downloaded
*.etag
*.time
*.csv
# Ignore the secret api key of virustotal
api_key_secret

# Ignore the secret slack bot token of exporting_alerts module
slack_bot_token_secret

# Ignore daemon output files
daemon/

# Ignore the results folders
2019-
2020-
2021-
2022-
2023-
# Be careful after 2023

*.swp
*.swo

# apple shit
*.bst

# pcap
*.pcap

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
#docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# slips logs
logs/
*.swp
*.pyc
*.xml
.idea/StratosphereLinuxIPS.iml
dump.rdb
package-lock.json
modules/blessed/node_modules/
alerts.log
alerts.json
errors.log
nohup.out
modules/threat_intelligence/remote_data_files/*
node_modules/

# compiled yara rules
modules/leak_detector/yara_rules/compiled

# Ignore all data from Jetbrains IDE
.idea

# user configs
config/warden.conf
config/RiskIQ_credentials
config/slack_bot_token_secret
config/logstash.conf
config/vt_api_key

# ignore logs from pigeon
pigeon_logs

# ignore trustdb
trustdb.db

# ignore running redis servers logs
running_slips_info.txt

# ignore changes to redis.conf
config/redis.conf
modules/flowmldetection/scaler.bin
modules/flowmldetection/model.bin
databases/macaddress-db.json
output/
config-live-macos-*
dataset-private/*
appendonly.aof
/slipsOut/flows.sqlite
/slipsOut/metadata/info.txt
/slipsOut/metadata/slips.yaml
/slipsOut/metadata/whitelist.conf
/p2p_db.sqlite

