
<div class="row flex-nowrap">
    <div class="col-auto px-2">
        <div id="sidebar" class="collapse collapse-horizontal show border-end">
          <table id="profiles" class="table table_block">
              <thead>
              <tr>
              <th> Profiles </th>
              </tr>
              </thead>
          </table>
        </div>
    </div>
    <main class="col ps-md-2 pt-2">
      <div class="row">
            <div class="col-auto px-2">
              <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i>Profiles</a>
            </div>
            <div class="col-auto px-2">
              <p class="fw-bold" id="active_profile_tw"></p>
            </div>
      </div>

      <div class="row">
            <div class="col-12">
              <table id="ipinfo" class="table table_ipinfo">
                <thead>
                  <tr>
                    <th>IP</th>
                    <th>Country</th>
                    <th>Reverse DNS</th>
                    <th>ASN</th>
                    <th>URL score</th>
                    <th>Download score</th>
                    <th>Reference score</th>
                    <th>Communication score</th>
                  </tr>
                </thead>
              </table>

              <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <div id="buttons">
                    <button class="btn btn-outline-primary active" type="button" id="button_timeline">timeline</button>
                    <button class="btn btn-outline-warning" type="button" id="button_timeline_flows">flows</button>
                    <button class="btn btn-outline-danger" type="button" id="button_outtuples">outtuples</button>
                    <button class="btn btn-outline-success" type="button" id="button_intuples">intuples</button>
<!--                    TODO: fix the chart -->
<!--                    <button class="btn btn-outline-info" type="button" id="button_dstIP">dstIP</button>-->
                    <button class="btn btn-outline-info" type="button" id="button_alerts">alerts</button>
                  </div>
                </form>
              </nav>


              <div id="timeline">
                <table id="table_timeline" class="table table-striped display nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>Timestamp</th>
                      <th>Destination port name</th>
                      <th>DNS resolution</th>
                      <th>Preposition</th>
                      <th>Address</th>
                      <th>Port/protocol</th>
                      <th>State</th>
                      <th>Sent bytes</th>
                      <th>Received bytes</th>
                      <th>Total bytes</th>
                      <th>Duration</th>
                      <th>Warning</th>
                      <th>Critical warning</th>
                      <th>Info</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div id="alerts" style="display:none;">
                <table id="table_alerts" class="table table-striped display  nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>profileid</th>
                      <th>twid</th>
                      <th>type_detection</th>
                      <th>detection_info</th>
                      <th>type_evidence</th>
                      <th>description</th>
                      <th>stime</th>
                      <th>uid</th>
                      <th>confidence</th>
                      <th>threat_level</th>
                      <th>category</th>
                    </tr>
                  </thead>
                </table>
              </div>

              <div id="timeline_flows" style="display:none;">
                <table id="table_timeline_flows" class="table table-striped display  nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>Timestamp</th>
                      <th>Duration</th>
                      <th>Source address</th>
                      <th>Source port</th>
                      <th>Dest address</th>
                      <th>Dest port</th>
                      <th>Protocol</th>
                      <th>Origin state</th>
                      <th>State</th>
                      <th>Packets</th>
                      <th>Total bytes</th>
                      <th>Source packets</th>
                      <th>Source bytes</th>
                    </tr>
                  </thead>
                </table>
              </div>

              <div id="outtuples" style="display:none;">
                <table id="table_outtuples" class="table table-striped display  nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>OutTuple</th>
                      <th>Behaviour</th>
                      <th>Country</th>
                      <th>Reverse DNS</th>
                      <th>ASN</th>
                      <th>URL score</th>
                      <th>Download score</th>
                      <th>Reference score</th>
                      <th>Communication score</th>
                    </tr>
                  </thead>
                </table>
              </div>


              <div id="intuples" style="display:none;">
                <table id="table_intuples" class="table table-striped display  nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>InTuple</th>
                      <th>Behaviour</th>
                      <th>Country</th>
                      <th>Reverse DNS</th>
                      <th>ASN</th>
                      <th>URL score</th>
                      <th>Download score</th>
                      <th>Reference score</th>
                      <th>Communication score</th>
                    </tr>
                  </thead>
                </table>
              </div>

              <!--                    TODO: fix the chart -->
<!--              <div id="dstIP" style="display:none;">-->
<!--                <figure class="highcharts-figure">-->
<!--                <div id="container" style="height: 400px; margin: 0 auto"></div>-->
<!--                <input type="text" id="myInput" onkeyup="filterFunction()" placeholder="Filter by month.."/>-->
<!--                </figure>-->
<!--              </div>-->

            </div>
        </div>
    </main>
</div>