<!doctype html>
<html>

<head>
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables-1.11.5/css/dataTables.bootstrap5.min.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('hotkeys.static', filename='css/some.css')}}"/>
</head>

<body>
<div class="container-fluid">

   <div class="row justify-content-center" style="margin-bottom: 15px">

   <div class="col-auto d-flex shadow justify-content-center text-center" style="border-right: 1px solid rgb(216, 216, 216);">
       <a class="navbar-brand"><h4>SLIPS V1.2.0</h4></a>
   </div>
   <div class="col-5 shadow justify-content-center" style="padding-left:10px;padding-right:10px;border-right: 1px solid rgb(216, 216, 216);">
       <dl style="column-count:2">
           <dd>
                 <b>Size: </b><span id="fileSize">19.757825 MB</span>
               </dd>
               <dd>
                 <b>Name: </b><span id="fileName">20220223trafficanalyspca.pcap</span>
               </dd>
               <dd>
                 <b>Duration: </b><span id="fileDuration">152d0bce67e314fac720d9e650f07f7e</span>
               </dd>
                <dd>
                 <b>SomethinMore: </b><span id="metaPcapMd5">SomeValue</span>
               </dd>
          </dl>
    </div>
</div>

    <div class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Something else</a>
          </li>
        </ul>
    </div>

    <div class="row">
      <div class="col-2">
        <style type="text/css">
          .table_block {
            border-radius: 15px;
            border-style: solid;}
        </style>

        <table id="profiles" class="table table_block">
          <thead>
            <tr>
              <th></th>
              <th> Profiles </th>
            </tr>
          </thead>
        </table>
      </div>

      <!--        <div class = "col col-md-8">-->
      <!--            <table id="alerts" class="table table-striped">-->
      <!--              <thead>-->
      <!--                <tr>-->
      <!--                  <th>timestamp</th>-->
      <!--                  <th>profileid</th>-->
      <!--                  <th>twid</th>-->
      <!--                  <th>detected_ip</th>-->
      <!--                  <th>detection_module</th>-->
      <!--                  <th>detection_info</th>-->
      <!--                  <th>description</th>-->
      <!--                </tr>-->
      <!--              </thead>-->
      <!--              <tfoot>-->
      <!--              <tr>-->
      <!--                  <th>timestamp</th>-->
      <!--                  <th>profileid</th>-->
      <!--                  <th>twid</th>-->
      <!--                  <th>detected_ip</th>-->
      <!--                  <th>detection_module</th>-->
      <!--                  <th>detection_info</th>-->
      <!--                  <th>description</th>-->
      <!--                </tr>-->
      <!--              </tfoot>-->
      <!--          </table>-->
      <!--        </div>-->

      <div class="col-md-10">
        <style type="text/css">
          .table_block {
            border-radius: 15px;
            border-style: solid;
          }
        </style>
        <table id="ipinfo" class="table table_block">
          <thead>
            <tr>
              <th>IP</th>
              <th>geocountry</th>
              <th>reverse_dns</th>
              <th>asnorg</th>
            </tr>
          </thead>
        </table>

        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <div id="buttons">
              <button class="btn btn-outline-success active" type="button" id="button_timeline">timeline</button>
              <button class="btn btn-outline-secondary" type="button" id="button_timeline_flows">flows</button>
              <button class="btn btn-outline-secondary" type="button" id="button_outtuples">outtuples</button>
              <button class="btn btn-outline-secondary" type="button" id="button_alerts">alerts</button>
            </div>
          </form>
        </nav>

        <div id="timeline">
          <table id="table_timeline" class="table table-striped">
            <thead>
              <tr>
                <th>timestamp</th>
                <th>dport_name</th>
                <th>preposition</th>
                <th>daddr</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>timestamp</th>
                <th>dport_name</th>
                <th>preposition</th>
                <th>daddr</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div id="alerts" style="display:none;">
          <table id="table_alerts" class="table table-striped">
            <thead>
              <tr>
                <th>profileid</th>
                <th>twid</th>
                <th>type_detection</th>
                <th>detection_info</th>
                <th>type_evidence</th>
                <th>description</th>
                <th>stime</th>
                <th>uid</th>
                <th>confidence</th>
                <th>threat_level</th>
                <th>category</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>profileid</th>
                <th>twid</th>
                <th>type_detection</th>
                <th>detection_info</th>
                <th>type_evidence</th>
                <th>description</th>
                <th>stime</th>
                <th>uid</th>
                <th>confidence</th>
                <th>threat_level</th>
                <th>category</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div id="timeline_flows" style="display:none;">
          <table id="table_timeline_flows" class="table table-striped">
            <thead>
              <tr>
                <th>timestamp</th>
                <th>dur</th>
                <th>saddr</th>
                <th>sport</th>
                <th>daddr</th>
                <th>dport</th>
                <th>proto</th>
                <th>origstate</th>
                <th>state</th>
                <th>pkts</th>
                <th>allbytes</th>
                <th>spkts</th>
                <th>sbytes</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>timestamp</th>
                <th>dur</th>
                <th>saddr</th>
                <th>sport</th>
                <th>daddr</th>
                <th>dport</th>
                <th>proto</th>
                <th>origstate</th>
                <th>state</th>
                <th>pkts</th>
                <th>allbytes</th>
                <th>spkts</th>
                <th>sbytes</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div id="outtuples" style="display:none;">
          <table id="table_outtuples" class="table table-striped">
            <thead>
              <tr>
                <th>OutTuple</th>
                <th>Behaviour</th>
                <th>Country</th>
                <th>Reverse DNS</th>
                <th>ASN</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>OutTuple</th>
                <th>Behaviour</th>
                <th>Country</th>
                <th>Reverse DNS</th>
                <th>ASN</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>

  <script src="{{url_for('static', filename='jQuery-3.6.0/jquery-3.6.0.min.js')}}"></script>
  <script src= "{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='DataTables-1.11.5/js/jquery.dataTables.min.js')}}"></script>
  <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='DataTables-1.11.5/js/dataTables.bootstrap5.min.js')}}"></script>
  <script type="text/javascript" charset="utf8" rel="stylesheet" src="{{url_for('hotkeys.static', filename='js/hotkeys.js')}}"></script>

  <!--FIXME find what this library is for-->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
  <!--    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
  <!--    crossorigin="anonymous"></script>-->
</body>

</html>