{% extends "base.html" %}
{% block head %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('hotkeys.static', filename='css/style.css')}}"/>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-2">
        <style type="text/css">
          .table_block {
            border-radius: 15px;
            border-style: solid;}
        </style>

        <table id="profiles" class="table table_block">
          <thead>
            <tr>
              <th></th>
              <th> Profiles </th>
            </tr>
          </thead>
        </table>
      </div>

      <!--        <div class = "col col-md-8">-->
      <!--            <table id="alerts" class="table table-striped">-->
      <!--              <thead>-->
      <!--                <tr>-->
      <!--                  <th>timestamp</th>-->
      <!--                  <th>profileid</th>-->
      <!--                  <th>twid</th>-->
      <!--                  <th>detected_ip</th>-->
      <!--                  <th>detection_module</th>-->
      <!--                  <th>detection_info</th>-->
      <!--                  <th>description</th>-->
      <!--                </tr>-->
      <!--              </thead>-->
      <!--              <tfoot>-->
      <!--              <tr>-->
      <!--                  <th>timestamp</th>-->
      <!--                  <th>profileid</th>-->
      <!--                  <th>twid</th>-->
      <!--                  <th>detected_ip</th>-->
      <!--                  <th>detection_module</th>-->
      <!--                  <th>detection_info</th>-->
      <!--                  <th>description</th>-->
      <!--                </tr>-->
      <!--              </tfoot>-->
      <!--          </table>-->
      <!--        </div>-->

      <div class="col-md-10">
        <style type="text/css">
          .table_block {
            border-radius: 15px;
            border-style: solid;
          }
        </style>
        <table id="ipinfo" class="table table_block">
          <thead>
            <tr>
              <th>IP</th>
              <th>geocountry</th>
              <th>reverse_dns</th>
              <th>asnorg</th>
            </tr>
          </thead>
        </table>

        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <div id="buttons">
              <button class="btn btn-outline-primary active" type="button" id="button_timeline">timeline</button>
              <button class="btn btn-outline-warning" type="button" id="button_timeline_flows">flows</button>
              <button class="btn btn-outline-danger" type="button" id="button_outtuples">outtuples</button>
              <button class="btn btn-outline-info" type="button" id="button_alerts">alerts</button>
            </div>
          </form>
        </nav>

        <div id="timeline">
          <table id="table_timeline" class="table table-striped">
            <thead>
              <tr>
                <th>timestamp</th>
                <th>dport_name</th>
                <th>preposition</th>
                <th>daddr</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>timestamp</th>
                <th>dport_name</th>
                <th>preposition</th>
                <th>daddr</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div id="alerts" style="display:none;">
          <table id="table_alerts" class="table table-striped">
            <thead>
              <tr>
                <th>profileid</th>
                <th>twid</th>
                <th>type_detection</th>
                <th>detection_info</th>
                <th>type_evidence</th>
                <th>description</th>
                <th>stime</th>
                <th>uid</th>
                <th>confidence</th>
                <th>threat_level</th>
                <th>category</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>profileid</th>
                <th>twid</th>
                <th>type_detection</th>
                <th>detection_info</th>
                <th>type_evidence</th>
                <th>description</th>
                <th>stime</th>
                <th>uid</th>
                <th>confidence</th>
                <th>threat_level</th>
                <th>category</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div id="timeline_flows" style="display:none;">
          <table id="table_timeline_flows" class="table table-striped">
            <thead>
              <tr>
                <th>timestamp</th>
                <th>dur</th>
                <th>saddr</th>
                <th>sport</th>
                <th>daddr</th>
                <th>dport</th>
                <th>proto</th>
                <th>origstate</th>
                <th>state</th>
                <th>pkts</th>
                <th>allbytes</th>
                <th>spkts</th>
                <th>sbytes</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>timestamp</th>
                <th>dur</th>
                <th>saddr</th>
                <th>sport</th>
                <th>daddr</th>
                <th>dport</th>
                <th>proto</th>
                <th>origstate</th>
                <th>state</th>
                <th>pkts</th>
                <th>allbytes</th>
                <th>spkts</th>
                <th>sbytes</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div id="outtuples" style="display:none;">
          <table id="table_outtuples" class="table table-striped">
            <thead>
              <tr>
                <th>OutTuple</th>
                <th>Behaviour</th>
                <th>Country</th>
                <th>Reverse DNS</th>
                <th>ASN</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>OutTuple</th>
                <th>Behaviour</th>
                <th>Country</th>
                <th>Reverse DNS</th>
                <th>ASN</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" charset="utf8" rel="stylesheet" src="{{url_for('hotkeys.static', filename='js/hotkeys.js')}}"></script>
{% endblock %}
