maxminddb==2.6.2
numpy==2.0.1
watchdog==4.0.1
redis==3.5.3
urllib3==2.2.2
pandas==2.2.2
tzlocal==5.2
cabby==0.1.23
stix2==3.0.1
certifi==2024.7.4
tensorflow==2.16.1
colorama==0.4.6
Keras
validators==0.33.0
ipwhois==1.2.0
matplotlib==3.9.1
recommonmark==0.7.1
scikit_learn
slackclient==2.9.4
psutil==6.0.0
six==1.16.0
pytest==8.2.2
pytest-mock==3.14.0
pytest-xdist==3.6.1
scipy==1.14.0
scikit-learn==1.5.1
GitPython==3.1.43
protobuf==5.27.3
exclusiveprocess==0.9.4
setuptools
pytest-dependency==0.6.0
whois==1.20240129.2
wheel
flask
tldextract==5.1.2
tqdm==4.66.4
termcolor==2.4.0
viztracer==0.16.3
yappi==1.6.0
pytest-sugar==1.0.0
memray==1.13.3
aid_hash
black==24.4.2
ruff==0.5.6
pre-commit==3.7.1
coverage==7.6.1
pyyaml
