maxminddb==2.6.2
numpy==1.26.4
watchdog==5.0.0
redis==5.1.1
urllib3==2.2.3
pandas==2.2.2
tzlocal==5.2
cabby==0.1.23
stix2==3.0.1
certifi==2024.7.4
tensorflow==2.16.1
Keras
validators==0.34.0
ipwhois==1.2.0
matplotlib==3.9.2
recommonmark==0.7.1
scikit_learn
slackclient==2.9.4
psutil==6.0.0
six==1.16.0
pytest==8.3.2
pytest-mock==3.14.0
pytest-xdist==3.6.1
scipy==1.14.0
scikit-learn==1.5.1
GitPython==3.1.43
protobuf==4.25.3
exclusiveprocess==0.9.4
pytest-dependency==0.6.0
whois==1.20240129.2
flask
tldextract==5.1.2
termcolor==2.4.0
yappi==1.6.0
pytest-sugar==1.0.0
aid_hash
black==24.8.0
ruff==0.6.8
pre-commit==4.0.1
coverage==7.6.1
pyyaml
git+https://github.com/SECEF/python-idmefv2.git
