maxminddb==2.6.3
numpy==1.26.4
watchdog==5.0.0
redis==5.2.1
urllib3==2.4.0
pandas==2.2.3
tzlocal==5.3.1
cabby==0.1.23
stix2==3.0.1
certifi==2025.4.26
tensorflow==2.16.1
Keras
validators==0.34.0
ipwhois==1.2.0
matplotlib==3.10.1
scikit_learn
slackclient==2.9.4
psutil==7.0.0
six==1.17.0
pytest==8.3.5
pytest-mock==3.14.0
pytest-xdist==3.6.1
scipy==1.15.1
scikit-learn==1.6.1
GitPython==3.1.44
protobuf==4.25.3
exclusiveprocess==0.9.4
pytest-dependency==0.6.0
whois==1.20240129.2
flask
tldextract==5.3.0
termcolor==3.0.1
yappi==1.6.10
pytest-sugar==1.0.0
aid_hash
black==24.10.0
ruff==0.11.7
pre-commit==4.0.1
coverage==7.8.0
pyyaml
pytest-asyncio
git+https://github.com/SECEF/python-idmefv2.git
