<!doctype html>
<html>

<head>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs5/jq-3.6.0/sl-1.4.0/dt-1.12.1/datatables.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('analysis.static', filename='css/analysis.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('general.static', filename='css/general.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app.css')}}" />
    <title>Slips</title>

</head>


<body>
  <div class="container-fluid">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">

        <table class="table table-dark table-fixed w-20" >
          <thead>
            <tr>
              <th scope="col" colspan="2"> About pcap </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Profiles</td>
              <td id="num_profiles">0</td>
            </tr>
            <tr>
              <td>Alerts</td>
              <td id="num_alerts">0</td>
            </tr>
            <tr>
              <td>Duration</td>
              <td id="dur">0</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <ul class="nav nav-tabs me-auto bg-light" id="slips_custom_navbar">
      <li class="nav-item">
        <a type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false"
          style="text-decoration: none; padding: 13px 15px 0px 10px;
          font-weight: bold;">
          SLIPS
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" type="button" id="nav-hotkeys-tab" data-bs-toggle="tab" data-bs-target="#nav-hotkeys" role="tab"
          aria-controls="nav-hotkeys" aria-selected="true">
          Analysis
          <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" id="nav-general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" role="tab"
          aria-controls="nav-general" aria-selected="false">                   
          General
          <!-- <i class="fa-solid fa-circle-info"></i>  -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" id="nav-documentation-tab" data-bs-toggle="tab" data-bs-target="#nav-documentation" role="tab"
        aria-controls="nav-documentation" aria-selected="false">
          Documentation
        </a>
      </li>
      <li class="nav-item ms-auto">
        <a type="button" id="changedb_button" class="nav-link btn-primary" data-toggle="modal" data-target="#modal_choose_redis" style=" color: #0d6efd!important">
          <i class="fa-solid fa-database"></i>
          Change DB
        </a>
      </li>
      <li class="nav-item">
        <a type="button" id="reload_button" class="nav-link btn-primary">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
      </li>
    </ul>



    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-hotkeys" role="tabpanel" aria-labelledby="nav-hotkeys-tab">
        {% include 'analysis.html' %}
      </div>
      <div class="tab-pane fade" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
        {% include 'general.html' %}
      </div>
      <div class="tab-pane fade" id="nav-documentation" role="tabpanel" aria-labelledby="nav-documentation-tab">
        {% include 'documentation.html' %}
      </div>
    </div>
    <div class="modal " id="modal_choose_redis" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Choose DB</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table id="table_choose_redis" class="table table-striped display  nowrap" style="width:100%">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Port</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="button_choose_db" class="btn btn-primary">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
  src="https://cdn.datatables.net/v/bs5/jq-3.6.0/sl-1.4.0/dt-1.12.1/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="module" src="{{url_for('static', filename='app.js')}}"></script>
<script src="https://kit.fontawesome.com/88b12c5474.js" crossorigin="anonymous"></script>

<script type="module" 
  src="{{url_for('analysis.static', filename='js/analysis.js')}}"></script>
<script type="module" 
  src="{{url_for('analysis.static', filename='js/tableDefs.js')}}"></script>
<script type="module" 
  src="{{url_for('general.static', filename='js/general.js')}}"></script>

</html>