{% extends "layout.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}"/>
{% endblock %}

{% block common %}
<div class="row justify-content-center" style="margin-bottom: 15px">

    <div class="col-auto d-flex shadow justify-content-center text-center" style="border-right: 1px solid rgb(216, 216, 216);">
        <a class="navbar-brand"><h4>SLIPS V1.2.0</h4></a>
    </div>

    <div class="col-5 shadow justify-content-center" style="padding-left:10px;padding-right:10px;border-right: 1px solid rgb(216, 216, 216);">
        <dl style="  column-count:2">
            <dd>
                <b>Name: </b><span id="fileName"></span>
            </dd>
            <dd>
                <b>Size: </b><span id="fileSize"></span>
            </dd>
            <dd>
                <b>Start: </b><span id="analysisStart"></span>
            </dd>
            <dd>
                <b>End: </b><span id="analysisEnd"></span>
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <ul  class="nav nav-tabs">
        <li class="active">
            <a href="#hotkeys1" data-toggle="tab">Hotkeys</a>
        </li>

        <li>
            <a href="#general" data-toggle="tab">General</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="tab-content">

       <div id="hotkeys1" class="tab-pane active">
           {% include 'hotkeys.html' %}
        </div>

        <div id="general" class="tab-pane">
           {% include 'general.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" rel="stylesheet" src="{{url_for('static', filename='base.js')}}"></script>
{% endblock %}

