<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables-1.11.5/css/dataTables.bootstrap5.min.css')}}"/>
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid">
                {% block common %}
                {% endblock %}
                <div class="row">
                    {% block content%}
                    {% endblock %}
                </div>
        </div>
    </body>

    {% block scripts %}
    
        <script src="{{url_for('static', filename='jQuery-3.6.0/jquery-3.6.0.min.js')}}"></script>
        <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='DataTables-1.11.5/js/jquery.dataTables.min.js')}}"></script>
        <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='DataTables-1.11.5/js/dataTables.bootstrap5.min.js')}}"></script>
    {% endblock %}

</html>