name: Install Slips Dependencies

on:
  workflow_call:
    inputs:
      zeek-repo-url:
        description: 'Zeek repository URL'
        required: false
        default: 'http://download.opensuse.org/repositories/security:/zeek/xUbuntu_22.04/'
        type: string
      zeek-key-url:
        description: 'Zeek key URL'
        required: false
        default: 'https://download.opensuse.org/repositories/security:zeek/xUbuntu_22.04/Release.key'
        type: string
      python-version:
        description: 'Python version to set up'
        required: false
        default: '3.10.12'
        type: string

jobs:
  install-dependencies:
    runs-on: ubuntu-22.04
    outputs:
      dependencies_installed: ${{ steps.mark_installed.outputs.installed }}
    steps:
    - uses: actions/checkout@v5
      with:
        ref: ${{ github.ref }}
        fetch-depth: ''

    - name: Enable memory overcommit (for Redis)
      run: sysctl vm.overcommit_memory=1

    - name: Install Redis
      run: |
        curl -L https://download.redis.io/redis-stable.tar.gz -o /tmp/redis-stable.tar.gz \
        && mkdir -p /usr/local/bin/redis-stable && cd /usr/local/bin/redis-stable \
        && tar xzf /tmp/redis-stable.tar.gz -C / \
        && cd /usr/local/bin/redis-stable \
        && make distclean \
        && make MALLOC=libc


    - name: Add Redis to PATH
      run: echo "/usr/local/bin/redis-stable" >> $GITHUB_PATH

    - name: Install APT dependencies
      run: |
        sudo apt-get update --fix-missing && \
        sudo apt-get -y --no-install-recommends install \
        $(grep -Ev '^(redis|redis-server)$' install/apt_dependencies.txt)


    - name: Save APT Cache
      uses: actions/cache@v4
      with:
        path: |
          /var/cache/apt/archives
          /var/lib/apt/lists
        key: apt-cache

    - name: Set up Python with caching enabled
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}
        cache: 'pip'

    - name: Install Python dependencies
      run: python3 -m pip install -r install/requirements.txt

    - name: Install Zeek
      run: |
        echo "deb ${{ inputs.zeek-repo-url }} /" | sudo tee /etc/apt/sources.list.d/security:zeek.list
        curl -fsSL ${{ inputs.zeek-key-url }} | sudo gpg --dearmor -o /etc/apt/trusted.gpg.d/security_zeek.gpg
        sudo apt update && sudo apt install -y --no-install-recommends zeek
        sudo ln -s /opt/zeek/bin/zeek /usr/local/bin/bro

    - name: Mark dependencies as installed
      id: mark_installed
      run: echo "installed=true" >> $GITHUB_OUTPUT
