name: Install Slips Dependencies

on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python version to set up'
        required: false
        default: '3.10.12'
        type: string

jobs:
  install-dependencies:
    runs-on: ubuntu-22.04
    outputs:
      dependencies_installed: ${{ steps.mark_installed.outputs.installed }}
    steps:
    - uses: actions/checkout@v5
      with:
        ref: ${{ github.ref }}
        fetch-depth: ''

    - name: Enable memory overcommit (for Redis)
      run: sysctl vm.overcommit_memory=1

    - name: Install APT dependencies
      run: |
        sudo apt-get update --fix-missing && sudo apt-get -y --no-install-recommends install $(cat install/apt_dependencies.txt)
        sudo apt-get -y install font-manager

    - name: Save APT Cache
      uses: actions/cache@v4
      with:
        path: |
          /var/cache/apt/archives
          /var/lib/apt/lists
        key: apt-cache

    - name: Set up Python with caching enabled
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.python-version }}
        cache: 'pip'

    - name: Install Python dependencies
      run: python3 -m pip install -r install/requirements.txt

    - name: Install Zeek
      run: |
        sudo sed -i 's|http://download.opensuse.org|https://download.opensuse.org|' /etc/apt/sources.list.d/security:zeek.list
        sudo apt update || true
        sudo apt install -y --no-install-recommends --fix-missing zeek-8.0 || \
          (wget https://download.opensuse.org/repositories/security:/zeek/xUbuntu_22.04/all/zeek-8.0-btest-data_8.0.3-0_all.deb
        && sudo dpkg -i zeek-8.0-btest-data_8.0.3-0_all.deb && sudo apt -f install)
        sudo ln -s /opt/zeek/bin/zeek /usr/local/bin/bro

    - name: Mark dependencies as installed
      id: mark_installed
      run: echo "installed=true" >> $GITHUB_OUTPUT
