name: integration-tests

on:
  pull_request:
    branches:
      - 'master'
      - 'develop'

jobs:
#  # uses the common workflow that builds slips
#  install-dependencies-using-reusable-workflow:
#    uses: ./.github/workflows/install-slips-dependencies.yml


  integration-tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 1800
#    # make this job depend on the first job
#    needs: install-dependencies-using-reusable-workflow

    # suppress tensorflow warnings
    env:
      TF_CPP_MIN_LOG_LEVEL: 3
      TF_ENABLE_ONEDNN_OPTS: 0

    strategy:
      matrix:
        test_file:
          - test_config_files.py
          - test_portscans.py
          - test_dataset.py
          - test_pcap_dataset.py
          - test_zeek_dataset.py
          - test_fides.py
          - test_iris.py

    steps:
    - uses: actions/checkout@v5
      with:
        ref: ${{ github.ref }}
        fetch-depth: ''

    - name: Install Redis v8.4.0
      run: |
        sudo apt-get update
        sudo apt-get install -y lsb-release curl gnupg

        curl -fsSL https://packages.redis.io/gpg | sudo gpg --dearmor -o /usr/share/keyrings/redis-archive-keyring.gpg
        sudo chmod 644 /usr/share/keyrings/redis-archive-keyring.gpg
        echo "deb [signed-by=/usr/share/keyrings/redis-archive-keyring.gpg] https://packages.redis.io/deb $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/redis.list

        sudo apt-get update
        sudo apt-get install -y redis-server=6:8.4.0-1*
        # to double check that its running
        sudo systemctl start redis
        sudo systemctl status redis
        redis-cli ping


    - name: Restore Zeek Build from Cache
      id: zeek-cache
      uses: actions/cache@v4
      with:
        path: /opt/zeek
        key: zeek-cache

    - name: Restore APT cache
      id: apt-cache
      uses: actions/cache@v4
      with:
        path: |
          /var/cache/apt/archives
          /var/lib/apt/lists
        key: apt-cache


    - name: Install apt dependencies (from cache if possible)
      run: |
        sudo apt-get update --fix-missing && \
        sudo apt-get -y --no-install-recommends install \
        $(grep -Ev '^(redis|redis-server)$' install/apt_dependencies.txt)



    - name: Install Zeek
      run: |
        sudo echo 'deb http://download.opensuse.org/repositories/security:/zeek/xUbuntu_22.04/ /' | sudo tee /etc/apt/sources.list.d/security:zeek.list
        curl -fsSL https://download.opensuse.org/repositories/security:zeek/xUbuntu_22.04/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/security_zeek.gpg > /dev/null
        sudo apt update && sudo apt install -y --no-install-recommends --fix-missing zeek
        sudo ln -s /opt/zeek/bin/zeek /usr/local/bin/bro


    - name: Print zeek version
      run: (command -v zeek && zeek --version) || (command -v bro && bro --version)

    - name: Install Python dependencies (from cache if possible)
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -r install/requirements.txt


    - name: Run Integration Tests for ${{ matrix.test_file }}
      run: |
        python3 -m pytest tests/integration_tests/${{ matrix.test_file }} -p no:warnings -vv -s -n 3

    - name: Upload Artifacts
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.test_file }}-integration-tests-output
        path: |
          output/integration_tests
