name: integration-tests

on:
  pull_request:
    branches:
      - 'master'
      - 'develop'

jobs:
  list-integration-tests:
    runs-on: ubuntu-latest
    outputs:
      test_files: ${{ steps.list.outputs.test_files }}
    steps:
      - uses: actions/checkout@v5
      - id: list
        uses: ./.github/actions/list-tests-dir
        with:
          test_dir: tests/integration
          output_prefix: integration/

  integration-tests:
    needs: list-integration-tests
    runs-on: ubuntu-22.04
    timeout-minutes: 1800

    container:
      image: stratosphereips/slips_dependencies
      # TensorFlow + multiprocessing + pytest -n can hit /dev/shm limits.
      options: --shm-size=2g


    # suppress tensorflow warnings
    env:
      TF_CPP_MIN_LOG_LEVEL: 3
      TF_ENABLE_ONEDNN_OPTS: 0

    strategy:
      fail-fast: false
      matrix:
        test_file: ${{ fromJson(needs.list-integration-tests.outputs.test_files) }}

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Start Redis
        uses: ./.github/actions/start-redis

      - name: Run Integration Tests for ${{ matrix.test_file }}
        run: |
          python3 -m pytest tests/${{ matrix.test_file }} -p no:warnings -vv -s -n 3

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          # Replaces slashes with underscores for valid artifact naming
          name: ${{ github.run_id }}-${{ strategy.job-index }}-integration-output
          path: |
            output/integration
